<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS în fața aplicației: primește cererile pe HTTPS, cere contul de domeniu
  (Windows Authentication, setată din instaleaza_iis.ps1) și le trimite la
  aplicația care ascultă doar local, pe 127.0.0.1:8765.
  Necesită modulele URL Rewrite și Application Request Routing (ARR).
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- orice cerere HTTP se redirecționează pe HTTPS -->
        <rule name="HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="MCC" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8765/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <!-- doar membrii grupului AD; DOMENIU\Grup-MCC se înlocuiește cu grupul creat de IT -->
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" roles="DOMENIU\Grup-MCC" />
      </authorization>
    </security>
  </system.webServer>
</configuration>
